:root {
    --targetSize: 60px;
}

html {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    flex-shrink: 0;
    text-align: center;
}

main {
    flex-grow: 1;
    /* overflow: auto; */
    width: 100vw;
    height: 100vh;
}

footer {
    flex-shrink: 0;
}

#aimTrainer {
    width: 99vw;
    height: 80%;
    cursor: crosshair;
    text-align: center;
}

#target {
    position: relative;
    /* initial position */
    top: 50%;
    left: 50%;
    /* round */
    width: var(--targetSize);
    height: var(--targetSize);
    background-image: url("../img/gabe.jpg");
    background-size: var(--targetSize);
    border-radius: 50%;
    background-color: red;
}
