extends fabric/base.html.pug

block main
    <div id="aimTrainer">

        <header>
            <p>Success: {{ round.shot }} - Missed : {{ round.miss }}</p>
            <p>Timeleft: {{ round.countDown }}</p>
        </header>

        <main id="aimTrainer" @click="missShot">
            <div id="target" class="target" @click="gabed"/>
        </main>

        <h2 v-if="!round.start">Shoot on Gabe to start</h2>
        <button v-else="round.start" @click="reset">Restart</button>

    </div>